extends layout
  
block content
  .card
    .card-body
      h1.card-title Raul
      p.card-text Actualmente usted tiene en su cuenta disponible $10,000
      label.form-label(for="quantity") Cantidad
        input.form-control(type="number",name="quantity",id="quantity")
      button.btn.btn-success Depositar
      button.btn.btn-danger Disponer Dinero
   .card
    .card-body
      h1.card-title Raul
      p.card-text Actualmente usted tiene en su cuenta disponible $10,000
      label.form-label(for="quantity") Cantidad
        input.form-control(type="number",name="quantity",id="quantity")
      button.btn.btn-success Depositar
      button.btn.btn-danger Disponer Dinero

   .card
    .card-body
      h1.card-title Raul
      p.card-text Actualmente usted tiene en su cuenta disponible $10,000
      label.form-label(for="quantity") Cantidad
        input.form-control(type="number",name="quantity",id="quantity")
      button.btn.btn-success Depositar
      button.btn.btn-danger Disponer Dinero